*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.aboutUsCards{
    width: 80%;
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    gap: 3rem;
    margin-left:auto;
    /* flex-wrap: wrap; */
}

.whoWeR{
    width: 26%;
    box-shadow: 10px 10px 10px rgba(202, 202, 202, 0.5), -10px -10px 10px rgba(202, 202, 202, 0.5) ;
    height: 18em;
    border-radius: 0.75rem;
    height: auto;
}
.ourMission{
    width: 35%;
    box-shadow: 10px 10px 10px rgba(202, 202, 202, 0.5), -10px -10px 10px rgba(202, 202, 202, 0.5)  ;
    height: 20em;
    border-radius: 0.75rem;
    height: auto;
}
.whatWeDo{
    width: 26%;
    box-shadow: 10px 10px 10px rgba(202, 202, 202, 0.5), -10px -10px 10px rgba(202, 202, 202, 0.5)  ;
    height: 18em;
    border-radius: 0.75rem;
    height: auto;
}



.whoWeRHeading{
    text-transform: uppercase;
    text-align: center;
    margin-top:1rem;
    font-family: 'Roboto';
    color: #ffbb00;
    
}

.ourMissionHeading{
    text-transform: uppercase;
    text-align: center;
    margin-top:1rem;
    font-family: 'Roboto';
    color: #7cbb00;
}

.whatWeDoHeading{
    text-transform: uppercase;
    text-align: center;
    margin-top:1rem;
    font-family: 'Roboto';
    color: #00a1f1;
}

.ourMission p{
    text-align: center;
    padding: 1.5rem;
    color: gray;
}
.whatWeDo p{
    text-align: center;
    padding: 2rem;
    padding-top: 1rem;
    color: gray;
}

.whoWeR p{
    text-align: center;
    padding: 2rem;
    padding-top: 1rem;
    color: gray;
}

@media (max-width: 980px) {

    .aboutUsCards{
        display: block;
        width: 60%;
        
    }

    .whoWeR{
        width: 100%;
        
    }
    .ourMission{
        width: 100%;
        margin-top: 3rem;
    }
    .whatWeDo{
        width: 100%;
        margin-top: 3rem;
    }

    .ourMissionHeading{
        text-align: center;
        transform: translateY(25px);
        
        
    }
    .whoWeRHeading{
        text-align: center;
        transform: translateY(20px);
       
    }
    
    .whatWeDoHeading{
        text-align: center;
        transform: translateY(20px);
        
    }
}