@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.footer {
  margin: 0;
  padding: 0;
  color: #e5e5e5;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* .content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #424245;
} */
.footer footer {
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  background: #f5f5f7;
}
.footer .main-content {
  display: flex;
}
.footer .main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.footer .box h2 {
  color: #424245;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.footer .box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.footer .box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #3282b8;
}
.footer .box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: white;
  top: -10px;
}
.footer .left .content p {
  color: #424245;
  text-align: justify;
  /* font-size: 12px; */
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.footer .left .content .social {
  margin: 20px 0 0 0;
}
.footer .left .content .social a {
  padding: 0 2px;
}
.footer .left .content .social a i {
  height: 40px;
  width: 40px; 
  color: black;
   background: blaxk;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
   border-radius: 5px; 
  transition: 0.3s;
}
.footer .left .content .social a i:hover {
  background: #3282b8;
  color: #d9d9d9;
}
.footer .center .content i {
  height: 40px;
  width: 40px; 
  color: black;
   background: blaxk;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
   border-radius: 5px; 
  transition: 0.3s;
  cursor: pointer;
}
.footer .center .content i:hover {
  background: #3282b8;
  color: #d9d9d9;
}
.footer .center .content .text {
  color: #424245;
  font-size: 1.0625rem;
  padding-left: 10px;

  /* font-size: 12px; */
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.footer .center .content .phone {
  margin: 15px 0;
}
.footer .right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #424245;

  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.footer .right form .msg {
  margin-top: 10px;
}
.footer .right form input,
.footer .right form textarea {
  border-radius: 25px;
  width: 75%;
  font-size: 1.0625rem;
  background: #fffefe;
  padding-left: 10px;
  border: 0.3px solid #ffffff;
}
/* .right form input:focus,
.right form textarea:focus {
  outline-color: black;
} */
.footer .right form input {
  height: 35px;
}
.footer .right form .btn {
  margin-top: 10px;
}
.footer .right form .btn button {
  border-radius: 10px;
  height: 37px;
  width: 20%;
  border: none;
  outline: none;
  background: #3282b8;
  /* font-size: 1.0625rem; */
  line-height: 1.33337;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}
.footer .right form .btn button:hover {
  background: #2e79ab;
  color: white;
}
.footer .bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #f5f5f7;
}
.footer .bottom center span {
  color: #3282b8;
}
.footer .bottom center a {
  color: black;
  text-decoration: none;
}
.footer .bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  .footer footer {
    position: relative;
    bottom: 0px;
  }
  .footer .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer .main-content .box {
    margin: 5px 0;
  }
}
