body{
	background-color: rgb(225, 225, 225);
}
.teams_div1 {
  text-align: center;
}
.teams_h1 {
  color: #3282b8;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-style: normal;
  font-size: 4rem;
}

.faculty_co {
  text-align: center;
}
.figure {
  height: 410;
  width: 410;
}
.figure-caption {
  color: #222831;
}

/* Gov Body */
.rounded-circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* display: inline-block; */
}


.Governing_bd_h2{
  color: #3282b8;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif; 
  font-style: normal;
  font-size: 3rem;
}
.execom_h2{
color: #3282b8;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-style: normal;
  font-size: 3rem;
}

/* modify boootstrap card */
.card {
    margin-top: 2em;
    /* padding: 0.2em;  */
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(10, 3, 61, 0.2);
  }
  .card img {
    border-radius: 2em;
  }
  .card .card-title {
    font-weight: 700;
    font-size: 1.5em;
  }
  /* .card .btn {
    border-radius: 2em;
    background-color: #06c;
    color: #ffffff;
    padding: 0.5em 1.5em;
  }
  .card .btn:hover {
    background-color: #06c
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */


  /* execom */

  /* .execom-row{
	margin-left: 5%;
  } */
  .card{
	transform: scale(1);
	transition: 0.2s ease-in-out;
	cursor : pointer;
  }
  .card:hover{
	transform: scale(1.18);
  }
  /* execom */